*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --theme-primary: #fbff5b;
  --theme-secondary: #f3f3f3;
  --theme-tertiary: #1c1c1b;
  --theme-fourth: #8A88E5;
  font-family: 'Bebas Neue', cursive;
  overflow: hidden;
}